{% extends "polls/base.html" %}

{% block title %}Available Polls{% endblock %}

{% block content %}
    <h2>Available Polls</h2>
    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <li>
                    <a class="card" href="{% url 'polls:detail' question.id %}">
                        {{ question.id }}. {{ question.question_text }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="text-align:center; color: #888;">No polls are available.</p>
    {% endif %}
{% endblock %}
